@model TFNG.Web.ViewModels.News.NewsDetailsViewModel
@using System.Globalization;
@{
    this.ViewData["Title"] = this.Model.Title;
}
<div id="fb-root"></div>
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/bg_BG/sdk.js#xfbml=1&version=v3.0";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
@section metatags
{
    <meta property="og:title" content="@Model.Title" />
    <meta property="og:image" content="@Model.ImageUrl" />
}
<main id="main">
    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
        <div class="container">

            <div class="row">

                <div class="col-lg-12 entries">

                    <article class="entry entry-single">

                        <div class="entry-img">
                            <img src="@Model.ImageUrl" alt="" class="img-fluid">
                        </div>

                        <h2 class="entry-title">
                            <a href="blog-single.html">@Model.Title</a>
                        </h2>

                        <div class="entry-meta">
                            <ul>
                                <li class="d-flex align-items-center"><i class="icofont-user"></i> <a href="blog-single.html">@Model.Author</a></li>
                                <li class="d-flex align-items-center"><i class="icofont-wall-clock"></i> <a href="blog-single.html"><time datetime="2020-01-01">@Model.CreatedOn.ToString("dd.MM.yyyy" + "г.")</time></a></li>
                            </ul>
                        </div>

                        <div class="entry-content">
                            @Html.Raw(Model.Content)
                        </div>

                        <div class="float-right share">
                            <div class="fb-share-button"
                                 data-href="https://tfng.bg/News/@Model.LatinTitle"
                                 data-layout="button"
                                 data-size="large">
                            </div>
                        </div>

                </div>

                </article><!-- End blog entry -->
                @if (this.User.IsInRole("Administrator"))
                {
                    <div class="text-center">
                        <a asp-controller="News" asp-action="Edit" asp-route-id="@Model.Id" class="btn">Edit</a>
                        <a asp-controller="News" asp-action="Remove" asp-route-id="@Model.Id" type="submit" class="btn">Delete</a>
                        <a asp-controller="News" asp-action="All" type="submit" class="btn">Back to All</a>
                    </div>
                }
            </div>

        </div>
    </section><!-- End Blog Section -->

</main><!-- End #main -->